{% extends "./base.html" %}

{% block title %} Actualizar Persona {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <form action="/actualizarPersona/" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Identificación</label>
                <input type="text" class="form-control" id="txtIdentificacion" name="txtIdentificacion"
                    placeholder="Identificación" value="{{persona.identificacion}}" readonly required>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" name="txtNombre"
                placeholder="Nombre" value="{{persona.nombre}}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Edad</label>
                <input type="number" class="form-control" id="numEdad" name="numEdad"
                placeholder="Edad"  value="{{persona.edad}}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Profesion</label>
                <select class="form-control" name="txtProfesion" id="txtProfesion"  value="{{persona.profesion}}" required>
                    <option value="">Seleccionar</option>
                    <option value="INDETERMINADO">INDETERMINADO</option>
                    <option value="DESEMPLEADO">DESEMPLEADO</option>
                    <option value="EMPLEADO">EMPLEADO</option>
                    <option value="PENSIONADO">PENSIONADO</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success text-white">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}