{% extends "./base.html" %}

{% block title %} Consultar Persona {% endblock %}

{% block body %}
<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Profesion</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in personas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.identificacion}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.edad}}</td>
                        <td>{{p.profesion}}</td>
                        <td><a href="actualizacionPersona/{{p.identificacion}}" class="btn btn-info text-white">Actualizar</a> </td>
                        <td><a href="eliminarPersona/{{p.identificacion}}" class="btn btn-danger">Eliminar</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock %}